@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100&display=swap');

body{
    background-color: black;
}
h1{

color: white;
    text-align: center;
    font-family: 'Azeret Mono', monospace;}
div.one
    
{
    height: 75px;
    background-color: blue;
    width: 4%;
    float: left;
    margin:4px;
    
}
#main{
    margin-left: 450px;
    background-color: blueviolet;
    
}
#sub{
    background-color: cadetblue;
}
#sub2{
    background-color: rgb(89, 170, 89);
}
#sub3{
    background-color: rgb(44, 129, 11);
}
#sub4{
    background-color: ghostwhite;
}

